
<div class="search">
  <input class="form-control mr-sm-4" type="text" [(ngModel)]="searchText" name="search" placeholder="Search">
</div>

<div class="main-content">
  <div class="filters">
  </div>
  <div class="card" *ngFor="let example of data | filter:searchText" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{example.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">{{example.text}}</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
      {{searchText}}
    </div>
  </div>
</div>